.carousel-item img {
    height: 350px;
}

#imgPeticion{
    background: rgb(36, 40, 47);
}


.card {
    transition: all 0.2s ease;
    cursor: pointer
}

.card:hover {
    box-shadow: 5px 6px 6px 2px #e9ecef;
    transform: scale(1.05)
}

.card-body a{
    color: rgb(90, 89, 89);
    text-decoration: none;
    
    
}

h5{
    font-weight: bold!important;
}


/* Estilos de mi modal */

.modal{
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
    background-color: black;
    display: flex;
    opacity: 0;
    pointer-events: none;
}

.modal__container{
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    background-color: #fff;
    margin: auto;
    border-radius: 5px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
}

.modal__img{
    width: 90%;
    max-width: 300px;
}

.modal__close{
    text-decoration: none;
    background-color: #f26250;
    padding: 1em 3em;
    border: 1px solid;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    transition: background-color .3s;
}
.modal__close:hover{
    color: #f26250;
    background: white;

}

.modal--show{
    opacity: 1;
    pointer-events: unset;
}